@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded bg-neutral-800 hover:bg-neutral-700 transition-colors font-medium border border-neutral-700 text-sm tracking-wide uppercase cursor-pointer disabled:cursor-not-allowed disabled:opacity-50;
  }

  .btn-primary {
    @apply bg-white text-black hover:bg-neutral-200 border-transparent;
  }

  .btn-danger {
    @apply bg-red-900/20 text-red-200 border-red-900/50 hover:bg-red-900/40;
  }

  .input {
    @apply bg-black border border-neutral-800 rounded px-3 py-2 outline-none focus:border-neutral-500 transition-colors w-full;
  }

  .card {
    @apply border border-neutral-800 bg-neutral-900/50 p-6 rounded-lg;
  }
}